*~
*#
#*#
*.o
indie
lib
Doc/Doc
includes/Extern/irr
build/CMakeFiles
build/cmake_install.cmake
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/CMakeCache.txt
build/Makefile
bin
cmake-build-debug
CMakeLists.txt
.idea